<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.contract.system.mapper.MaterialsMapper">




    <!--根据id查询-->
    <select id="getById" parameterType="java.lang.Integer" resultType="com.contract.system.bean.Materials">
        select * from materials where id=#{id}
    </select>

    <!--根据uuid查询-->
    <select id="getByName" parameterType="java.lang.String" resultType="com.contract.system.bean.Materials">
        select * from materials where name like "%"#{name}"%"
    </select>
    <!--根据uuid查询-->
    <select id="getByName1" parameterType="com.contract.system.bean.entity.MaterialsDto" resultType="com.contract.system.bean.Materials">
        select * from materials where 1=1
        <if test="dto.name!=null and dto.name != ''">
            and name like concat('%',#{dto.name},'%')
        </if>

    </select>

    <!--更新-->
    <update id="update" parameterType="com.contract.system.bean.Materials">
        update materials set name=#{name},num=#{num},value=#{value} where id=#{id}
    </update>


    <!--查询所有-->
    <select id="getAll" resultType="com.contract.system.bean.Materials">
        select * from materials
    </select>

    <!--查询全部分页-->
    <select id="getAllByPage" resultType="com.contract.system.bean.Materials" parameterType="java.lang.Integer">
        select * from materials limit #{page},5
    </select>

    <!--  新增  -->
    <insert id="add" parameterType="com.contract.system.bean.Materials">
        INSERT INTO materials (name,num,price,value) VALUES(#{name},#{num},#{price},#{value})
    </insert>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from materials where id=#{id}
    </delete>

</mapper>







